.footer {
    background-color: var(--gray10);
    display: flex;
    justify-content: center;
    padding: 0 5rem;
}

.footer__container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: 100%;
}
.footer__Links {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    border-bottom: 1px solid var(--gray7);
}
.footer__listLinks{
    padding: 0 12px;
    width: 100%;
}

.footer__listLinks p {
    font-size: 12px;
    font-weight: bold;
    color: var(--gray2);
}

.footer__listLinks ul li {
    list-style: none;
    margin-top: 1rem;
    font-size: 15px;
    color: var(--gray3);
}

.footer__listLinks ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}


.footer__FooterContent{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.footerContent__left {
    display: flex;
    align-items: center;
}

.footerContent__left h6 {
    font-size: 14px;
    font-weight: 00;
}
.footerContent__left ul {
    display: flex;
}

.footerContent__left ul li {
    font-size: 14px;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
}
.footerContent__left ul li::marker {
    font-size: .5rem;
}

.footerContent__right {
    display: flex;
}

.footerContent__rightLanguage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerContent__rightLanguage .MuiSvgIcon-root {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: var(--gray2);
}
.footerContent__rightLanguage h6 {
    font-size: .9rem;
    font-weight: 400;
    text-decoration: underline;
}

.footerContent__rightCurrency {
    margin-left: 1rem;
}
.footerContent__rightCurrency h6 {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 20px;
    font-size: 0.9rem;
    color: var(--gray3);
    font-weight: 500;
    cursor: pointer;
}
.footerContent__rightCurrency span {
    margin-left: .5rem;
    text-decoration: underline;
    color: var(--gray1);
}

.footerContent__rightIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
    width: 100px;
}

.footerContent__rightIcons .MuiSvgIcon-root {
    font-size: 1.2rem;
}

@media (max-width: 1128px) {
    .footer {
        padding: 0 2.5rem;
    }
    .footer__Links {
        flex-direction: column;
        border-bottom: none;
        padding: 3rem 0 0;
    }

    .footer__listLinks {
        padding: 0;
    }    

    .footer__listLinks ul {
        padding-bottom: 24px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        border-bottom: 1px solid var(--gray6);
        margin-bottom: 24px;
    }
    .footer__listLinks:last-child ul {
        margin-bottom: 0;
    }

    .footer__FooterContent {
        flex-direction: column-reverse;
        align-items: center;
        height: 120px;
    }

    .footerContent__left {
        flex-direction: column;
    }
}

@media (max-width: 744px) {
    .footer__listLinks ul {
        display: flex;
        flex-direction: column;
    }

    .footer__FooterContent {
        align-items: flex-start;
    }
    .footerContent__left {
        align-items: flex-start;
    }
    .footerContent__left ul li:first-child {
        margin-left: 0;
    }
    .footerContent__left ul li:first-child::marker {
        font-size: 0;
    }
}
